"/latex/My Library.bib"
/latex/table/
/latex/Bibliography.bib
/latex/md/
/latex/_markdown_main/
/latex/figures
*.bbl
*.bcf
*.aux
*.blg 
*.lof 
*.log 
*.lot
main.out 
main.markdown.err
main.markdown.in
main.toc
template.dvi
template.xdv
main.out
main.run.xml
template.synctex.gz
template.run.xml
main.markdown.out
*.pyc
__pycache__
tmp/
main.synctex.gz